/* This is a filler comment for Github */
/* ./public/style.css */
/* Code from https://serverjs.io/tutorials/chat/ */
 body {
	
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
	background: #ece1ce;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
background: #89a780
    }

    #message-container div {
      background-color: #c7dcb2;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #89a780;
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: #a2937e;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
	background: #89a780
    }
 
