
/* ./public/style.css */
/* Code from https://serverjs.io/tutorials/chat/ */
 body {
	
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
	background: #ffffff;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
background: #89a780
    }

    #message-container div {
      background-color: #d9c4ec;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #b19cd8;
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: #ffffff;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
	background: #b19cd8
    }
 
